{{#each errors}}
<div class="card-panel red lighten-4 red-text text-darken-4">
  {{message}}
  <button class="waves-effect btn-flat right close"><i class="fa fa-window-close"></i></button>
</div>
{{/each}}