{{#if flash.info_msg}}
<div class="card-panel green lighten-4 green-text text-darken-4">
  {{flash.info_msg}}
  <button class="waves-effect btn-flat right close"><i class="fa fa-window-close"></i></button>
</div>
{{/if}}

{{#if flash.error_msg}}
<div class="card-panel red lighten-4 red-text text-darken-4">
  <p>{{flash.error_msg}}</p>
  <button class="waves-effect btn-flat right close"><i class="fa fa-window-close"></i></button>
</div>
{{/if}}

<!--
<div class="card-panel blue lighten-4 blue-text text-darken-4"><b>Info!</b> This alert box indicates a neutral informative change or action.</div>
<div class="card-panel yellow lighten-4 yellow-text text-darken-4"><b>Warning!</b> This alert box indicates a warning that might need attention.</div>
-->

<div class="card-panel red lighten-4 red-text text-darken-4">
  Path `title` is required.
  <button class="waves-effect btn-flat right close"><i class="fa fa-window-close"></i></button>
</div>