{{#if flash.info_msg}}
<div class="card-panel green lighten-4 green-text text-darken-4">
  {{flash.info_msg}}
</div>
{{/if}}

{{#if flash.error_msg}}
  <div class="alert alert-danger">
    {{flash.error_msg}}
  </div>
{{/if}}