<div class="row">
  <div class="input-field">
    <input type="text" name="title">
    <label for="title">Title</label>
  </div>
</div>
<div class="row">
  <div class="input-field">
    <select name="status" id="status">
      <option value="public">Public</option>
      <option value="private">Private</option>
      <option value="unpublished">Unpublished</option>
    </select>
    <label for="status">Status</label>
  </div>
</div>
<div class="row">
  <p>
    <input type="checkbox" name="allow_comments" id="allow_comments" class="filled-in" checked>
    <label for="allow_comments">Allow Comments</label>
  </p>
</div>
<div class="row">
  <div class="input-field">
    <h5>Tell Us Your Story</h5>
    <textarea name="story_text" id="story_text" cols="30" rows="10"></textarea>
  </div>
</div>

<input type="submit" value="Save">